#title-feedinfos{
  font-weight: 400;
  margin: 10px 0 0 10px;
  font-size: 20px;
  text-align: center;
  margin-right: 5px;
  font-style: italic;
}

#date-time-feedinfos{
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width:fit-content;
}

#text-feedinfos{
  margin: 10px 0 0 10px;
}
