#title-feedinfos{
  font-weight: 800;
  margin: 10px 0 0 10px;
}

#date-time-feedinfos{
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width:fit-content;
}

#text-feedinfos{
  margin: 10px 0 0 10px;
}
