.correspond_bar {
  background-color: #0f8b8d;
  color: white;
}

.new-message.title-container {
  margin-bottom: 5px;
}

a#link {
  color: black;
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
}

#fixed-form .form-control.select.required {
  border-radius: 15px;
  width: 170px;
  height: 45px;
}

.simple_form.new_chatroom {
display: flex;
align-items: center;
justify-content: space-between;
}


.button-send {
  box-shadow: none;
}

.bubbles{
  height: 550px;
  overflow: scroll;
  padding-bottom: 30px;
}

.bubble-container {
    border: 1px solid lightgrey;
    border-radius: 21px;
    min-height: 50px;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.bubble-container p {
}

#fixed-form label {
  color: white;
  margin-left: 5px;
}

// .notif-bell {
//   width: 15px;
//   width: 45px;
//   margin-left: 15px;
//   margin-top: 5px;
//   margin-bottom: 5px;
// }
