// Specific CSS for your home-page
#home {
  align-items: center;
  display: flex;
  justify-content: center;
}

#title-homepage {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding-top: 10%;
  font-size: 30px;
}

#sign-text-homepage {
  margin-top: 25px;
  text-align: center;
  color: white;
  font-size: 15px;
}
.pages-home .navbar {
  display: none!important;
}

.child {
  width: 95%;
  padding: 10px 15px;
  margin: 0 auto;
}
