.profile h2 {
  display: flex;
   justify-content: center;
   margin-top: 100px;
   color: white;
   font-weight: bold;
}
.profile h3 {
  display: flex;
   justify-content: center;
   margin-top: 50px;
   color: white;
   font-weight: bold;
}

.button-host {
  display: flex;
   justify-content: center;
}

.button-vol {
  display: flex;
   justify-content: center;
 }

.users-profile {
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
