.profile h2 {
  display: flex;
   justify-content: center;
   margin-top: 100px;
   color: white;
   font-weight: bold;
}
.profile h3 {
  display: flex;
   justify-content: center;
   margin-top: 50px;
   color: white;
   font-weight: bold;
}

.button-host {
  display: flex;
   justify-content: center;
}

.button-vol {
  display: flex;
   justify-content: center;
 }
