.users-todo{
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100wh;
  height: 100vh;
}

.card-header button{
  width: 100%;
  text-align: left;
  color: black !important;
  text-decoration: none;
}

.card-header button:hover, button::after, button:active{
  text-decoration: none;
}

#accordion{
  margin-top: 10px;
}

.card{
  margin-top: 10px;
  border-radius: 19px;
}
.card-body p{
  text-align: start;
}
