.card-header button{
  width: 100%;
  text-align: left;
  color: black !important;
  text-decoration: none;
}

.card-header button:hover, button::after, button:active{
  text-decoration: none;
}

#accordion{
  margin-top: 10px;
}

.card{
  margin-top: 10px;
  border-radius: 19px;
}
.card-body p{
  text-align: start;
}

.search-party-new-todo{
  bottom: 100px;
  position: fixed;
}

.search-party-new-todo a{
  text-align: center;
  width: 100%;
}
