<div class= "correspond_bar">
  <h1>Messages</h1>
</div>

<div class="container">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to "from : #{chatroom.volunteer.full_name} #{chatroom.created_at}", lost_person_chatroom_path(@lost_person, chatroom), id:"link" %>
    <br>
  <% end %>
</div>

<div class="container" id="fixed-form">
  <%= simple_form_for [@lost_person, @chatroom] do |f| %> 
  <%= f.association :volunteer, label_method: :full_name %>
  <div class= "d-flex flex-row-reverse">
    <%= f.submit "Send a message", class: 'button button-secondary-alt', id:"right:5%;" %>
  </div>
  <% end %>
</div>