<div class="container profile">
  <h2>Vous êtes un</h2>
  <div class="button-host">
    <%= link_to "Organisateur", user_path(current_user, role: "host"), method: :patch, class: "button button-primary"%>
  </div>
  <h3>Vous êtes un</h3>
  <div class="button-vol">
    <%= link_to "Volontaire", user_path(current_user, role: "volunteer"), method: :patch, class: "button button-primary"%>
  </div>
</div>
