<div class="container profile">
  <img class="logo" src="https://res.cloudinary.com/mims/image/upload/v1606827948/logo_transparent_ruh8uj.png">
  <h2>Vous recherchez <br> quelqu'un ?</h2>
  <p>Organisez rapidement une battue et trouvez des volontaires pour vous aider à retrouver ceux qui vous sont chers</p>
  <div class="host button button-primary">
    <%= link_to "Je suis organisateur", user_path(current_user, role: "host"), method: :patch%>
  </div>
  <div class="volunteer button button-primary">
    <%= link_to "Je suis volontaire", user_path(current_user, role: "volunteer"), method: :patch%>
  </div>
</div>
