<div class="title-container d-flex align-items-center">
  <h1><h3>Guide pratique</h3></h1>
</div>
<%= link_to lost_person_chatrooms_path(@lost_person) do %>
        <i class="far fa-comment-dots"></i>
  <% end %>
<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Commissariat ou Gendarmerie <i class="fas fa-chevron-up arrow-down-accordion"></i>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>Si vous considérez que sa disparition est inquiétante, vous pouvez demander le déclenchement d'une enquête. Vous devez vous adressez à la police ou à la gendarmerie. </br>Vous devez être un proche de la personne disparue (époux, concubin, frère, sœur, parent, enfant...) ou son employeur. </br>Il n'y a pas de critères précis pour définir une disparition inquiétante : départ sans affaires personnelles, courrier suicidaire, radicalisation religieuse...</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Tribunal judiciaire ou de proximité <i class="fas fa-chevron-down arrow-down-accordion"></i>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p>Dans les cas les plus graves, une enquête judiciaire peut être ouverte, notamment en cas de soupçon d'infraction (séquestration, enlèvement, embrigadement sectaire...). L'enquête sera sous la responsabilité d'un magistrat (procureur ou juge d'instruction).La famille pourra déposer plainte et se porter partie civile. L'enquête judiciaire peut être ouverte suite à une enquête administrative si des éléments découverts font penser qu'une infraction a été commise.</p>
        </div>
      </div>
    </div>
        <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Rassemblement & Réseaux Sociaux <i class="fas fa-chevron-down arrow-down-accordion"></i>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <p>Les réseaux sociaux sont souvent très utile dans ce genre de circonstance. La bienveillance des gens est plus forte qu'on ne peut penser, il faut y faire appel.</br>Créez-vous une page facebook afin de pouvoir communiquer depuis un seul endroit au début, vous pourrez le faire via Huchi par la suite, une fois avoir rassembler suffisament de personnes. Partagez l'avis de recherche qu'Huchi génère automatiquement, demandez à tout le monde de partager l'information.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-index-search">
<% if policy(SearchParty).create? %>
  <%= link_to "Créer une battue", new_search_party_path, class: "button button-primary" %>
<% end %>
</div>

