<div class="title-container d-flex align-items-center">
  <h1><h3>Guide pratique</h3></h1>
</div>
<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Commissariat ou Gendarmerie
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>Si vous considérez que sa disparition est inquiétante, vous pouvez demander le déclenchement d'une enquête. Vous devez vous adressez à la police ou à la gendarmerie. </br>Vous devez être un proche de la personne disparue (époux, concubin, frère, sœur, parent, enfant...) ou son employeur. </br>Il n'y a pas de critères précis pour définir une disparition inquiétante : départ sans affaires personnelles, courrier suicidaire, radicalisation religieuse... </br>Une enquête pour disparition inquiétante peut aussi être ouverte si la personne disparue est vulnérable du fait de son âge ou d'une maladie. Dans tous les cas, une fois retrouvée, une personne majeure est libre de ne plus contacter ses proches.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Tribunal judiciaire ou de proximité
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p>Dans les cas les plus graves, une enquête judiciaire peut être ouverte, notamment en cas de soupçon d'infraction (séquestration, enlèvement, embrigadement sectaire...). L'enquête sera sous la responsabilité d'un magistrat (procureur ou juge d'instruction).La famille pourra déposer plainte et se porter partie civile. L'enquête judiciaire peut être ouverte suite à une enquête administrative si des éléments découverts font penser qu'une infraction a été commise.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="button-index-search">
  <% if policy(SearchParty).create? %>
    <%= link_to "Créer une battue", new_search_party_path, class: "button button-primary" %>
  <% end %>
  </div>

