<div class="navbar navbar-host fixed-bottom">
  <a class="active" href="#"><i class="far fa-file-alt menu-icons"></i><p></br>Fil d'Actualité</p></a>
  <a href="#"><i class="fas fa-location-arrow menu-icons"></i><p></br>Carte</p></a>
  <a href="#"><i class="far fa-address-card menu-icons"></i><p></br>Informations</p></a>
</div>
