<% if user_signed_in? %>
  <div class="navbar fixed-bottom">
    <% if current_user.role == "host" %>
      <div class="navbar-host d-flex justify-content-between align-items-center">
          <a class="active" href="#"><i class="far fa-file-alt menu-icons"></i><p>Fil d'Actualité</p></a>
          <a href="#"><i class="far fa-map menu-icons"></i><p>Carte</p></a>
          <a href="#"><i class="fas fa-search-location menu-icons"></i><p>Battues</p></a>
          <a href="#"><i class="far fa-calendar-check menu-icons"></i><p>To Do</p></a>
          <a href="#"><i class="far fa-address-card menu-icons"></i><p>Informations</p></a>
      </div>
    <% else %>
      <div class="navbar-volunteer d-flex justify-content-between">
          <a class="active" href="#"><i class="far fa-file-alt menu-icons"></i><p></br>Fil d'Actualité</p></a>
          <a href="#"><i class="far fa-map menu-icons"></i><p></br>Carte</p></a>
          <a href="#"><i class="far fa-address-card menu-icons"></i><p></br>Informations</p></a>
      </div>
    <% end %>
  </div>
<% end %>
