

        <h1 id="title-homepage">Merci pour votre confiance</h1>
      
        <p id="sign-text-homepage">Nous espérons vous avoir accompagné au mieux dans votre recherche</p>
    
  <div class="button-end">
      <%= link_to "Mettre fin aux recherches", end_search_path, class: "button button-primary-alt", data: {confirm: "Êtes-vous sûr de vouloir supprimer cette Recherche?"}%>
    </div>
  