<%= link_to "", lost_person_path(@lost_person), class: "fas fa-chevron-left back-button-end" %>
<div class="container end-message">
   <img class="logo-end-page" src="https://res.cloudinary.com/mims/image/upload/v1606827948/logo_transparent_ruh8uj.png">
    <h1 id="title-endpage">Merci pour votre confiance</h1>
    <p id="sign-text-endpage">Nous espérons vous avoir accompagné au mieux dans vos recherches</p>
    <br>
    <br>
    <div class="button-end">
      <%= link_to "Retour accueil", root_path, class: "button button-primary" %>
    </div>
</div>
