
<div class="container">
    <h1 id="title-homepage">Merci pour votre confiance</h1>
    <p id="sign-text-homepage">Nous espérons vous avoir accompagné au mieux dans vos recherches</p>
    <div class="full-width-button">
      <%= link_to "Mettre fin aux recherches", end_search_path, class: "button button-primary", data: {confirm: "Êtes-vous sûr de vouloir supprimer cette Recherche?"}%>
    </div>
</div>
        
