<h1>WAYD</h1>
<p>Veuillez indiquer le code pour rejoindre une recherche</p>
<p>Sinon veuillez indiquer une ville</p>

<%= form_tag join_search_path, method: :get do %>
  <%= text_field_tag :authentication_token,
    params[:authentication_token],
    class: "form-control",
    placeholder: "Code"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
