.lost_people-show{
  background-color: white;
}

#edit-poster{
  font-size: 14px!important;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 10px;
}

#missing-person-info{
  margin-top: 25px;
}

#missing-person-info p{
  text-align: justify;
}
