.lost_people-show{
  background-color: white;
}

// #edit-poster{
//   font-size: 14px!important;
//   text-align: center;
//   padding-left: 12px;
//   padding-right: 12px;
//   margin-right: 10px;
// }

.missing-person-pic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
}

.missing-person-info{
  margin-top: 5px;
  color: black !important;
}
.missing-person-info h2{
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: 300;
}

.missing-person-info h2 span {
 font-weight: 600;
  }


.missing-person-info p{
  text-align: left;
  margin-top: 5px;
  color: black !important;
  line-height: 20px;
  font-weight: 300;
}

.todo-content{
  padding:15px;
  overflow: scroll;
  max-height: 600px !important;
}

.todo-content h6{
  font-weight: bold;
  font-size: 23px;
}

.lost-show {
  overflow: scroll;
  height: 780px;
}

.edit-button {
  margin-right: 20px;
  background-color: #108b8d;
  color: white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button img.edit-pen {
  width: 15px;
}

 img.share {
  width: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.edit-person-info {
  position: absolute;
  top: 322px;
  right: 0px;
  margin-top: 5px;
}

.disparition {
  background-color: #f2f3f2;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 10px;
  text-align: left;
  border-radius: 50px;
  // opacity: 0.6;
  text-decoration: none;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 300px;
  color: black !important;
  margin-left: -7px;
}

.disparition span {
  color: black !important;
  font-size: 18px;
  padding-right: 5px;
}

.far.fa-edit {
  font-size: 20px;
}

.fas.fa-sign-out-alt {
  color: white;
  font-size: 18px;
  position: absolute;
  left: 370px;
  text-shadow: 10px 10px 40px rgba(0,0,0,5);
}

.social-share-button {
  text-align: center;
}

.social-share-button .ssb-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px!important;
    display: inline-block;
    height: 30px!important;
    width: 30px!important;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.diffuse {
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  border: none;
  background-color: #108b8d;
  box-shadow: none!important;
  color: white;
}

strong {
  font-weight: 600!important;
}

.button-end a {
padding: 7px 31px;
background-color: #108b8d;
color: white;
font-weight: 600;
}

.button-end {
margin-bottom: 30px;
box-shadow: none!important;
border: none;
}

:focus {
  outline: none!important;
}

.modal-content {
    margin-top: 70%;
    border-radius: 20px;
    color: #108b8d;
}

.fas.fa-upload {
  margin-left: 3px;
}

.button-end .button-primary-alt{
  background-color: #f2f3f2!important;
  color: #108b8d;
  font-weight: 400!important;
  border-color: #f2f3f2!important;
  box-shadow: none!important;
}
