.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.far.fa-comment-dots {
  color: white;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 15px;
}

.fas.fa-map-marker-alt {
   color: white;
  font-size: 35px;
  position: absolute;
  right: 25px;
  top: 20px;
}

.fas.fa-chevron-left.messages {
  position: absolute;
  font-size: 15px;
  top: 40px;
  left: 20px;
}

.fas.fa-chevron-left.back-button-end {
  position: absolute;
  font-size: 25px;
  left: 0px;
  top: 10px;
}
