body.pages-home {
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100wh;
}

.users-profile {
  background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  top: 0;
  background-color: white;
}

.feed_infos-index {
  background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  top: 0;
  background-color: #363636;
}

.login-container {
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

.users-todo {
  background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  top: 0;
  background-color: #363636;
}

.search_parties-index {
  background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  top: 0;
  background-color: #363636;
}

.lost_people-new {
  background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  top: 0;
  background-color: #363636;
}

.lost_people-edit {
  background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  top: 0;
  background-color: #363636;
}

.pages-end_search_message {
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100wh;
}

.chatrooms-show {
  background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  top: 0;
  background-color: #363636;
}

.search_parties-new{
    background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
    background-position: top;
    background-repeat: no-repeat;
    // background-size: cover;
    height: 100vh;
    top: 0;
    background-color: #363636;
}

.chatrooms-index {
  background-image: url('https://res.cloudinary.com/mims/image/upload/v1606835054/Rectangle_74_pj4ixt.png');
    background-position: top;
    background-repeat: no-repeat;
    // background-size: cover;
    height: 100vh;
    top: 0;
    background-color: #363636;
}
