// General Button Styling
.button {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: 'Barlow', sans-serif;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.button:hover {
  text-decoration: none!important;
}

.button-primary {
  background-color: #108b8d;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 17px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  // max-width: fit-content;
}

.button-secondary {
  background-color: #ec9a29;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 17px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  max-width: fit-content;
}

.button-primary-alt {
  background-color: white;
  color: #108b8d;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: medium solid #108b8d;
  // max-width: fit-content;
}

.button-primary-third {
  background-color: #f2f3f2;
  color: #108b8d;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  font-size: 17px;
  text-decoration: none;
  // max-width: fit-content;
}

.button-secondary-alt {
  background-color: white;
  color: #ec9a29;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border: medium solid#ec9a29;
    max-width: fit-content;
}
.homepage-sign-buttons{
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

#fixed-button {
  position: fixed;
  right: 20px;
  bottom: 100px;
  font-size: 3em;
  color: #ec9a29;
  border-radius: 17px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-end {
  display: flex;
  justify-content: center;
}

.button-white-background {
  background-color: #108b8d;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  max-width: fit-content;
  border: 0.5px solid white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width-button{
  width: 100%!important;
  max-width: 100%!important;
}

.full-width-button a{
  margin: 0 auto;
}

.button-index-search {
  position: fixed;
  bottom: 100px;
  display: flex;
  justify-content: center;
  width: 100%
}

