.button-div{
  text-align: center;
}

.button {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  letter-spacing: 1.5px;
  font-family: 'Maven Pro', sans-serif;
  }

.button:hover {
  text-decoration: none;
}

.button-primary {
  background-color: #108b8d;
  color:white;
  padding: 5% 8% 5% 8%;
  border-radius: 50px;
  font-size: 130%;
  font-weight: bold;
  text-decoration: none;
}

.button-secondary {
  background-color: #ec9a29;
  color: white;
  padding: 5% 8% 5% 8%;
  border-radius: 50px;
  font-size: 130%;
  font-weight: bold;
  text-decoration: none;
}

.button-primary-alt {
  background-color: white;
  color: #108b8d;
  padding: 5% 8% 5% 8%;
  border-radius: 50px;
  font-size: 130%;
  font-weight: bold;
  text-decoration: none;
  border: medium solid #108b8d;
}

.button-secondary-alt {
  background-color: white;
  color: #ec9a29;
  padding: 5% 8% 5% 8%;
  border-radius: 50px;
  font-size: 130%;
  font-weight: bold;
  text-decoration: none;
    border: medium solid#ec9a29;
}

