.card-todo {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-shadow: 10px 10px 40px rgba(0,0,0,5);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.card-todo-infos p {
    text-align: center;
    color: #8E8E8E;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    display: block;
    font-size: 10px;
    margin-right: 30px;
    text-align: center;
}

.card-todo-infos h1 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  text-align:center;
}

.card-todo-infos li {
  font-size: 13px;
  margin: 0;
  margin-top: 5px;
}

.button-todo {
  display: flex;
  justify-content: center;
}

.card-show {
  height: fit-content;
}
