.container-all {
  min-height: calc(100vh - 135px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#messages {
  flex-grow: 1;
  padding-bottom: 120px;
  height: 500px;
  overflow: scroll;
}

.chevron-text h6 {
  position: absolute;
  top: -3px;
  left: 12px;
  font-weight: bold;
}
.message-container {
  border: 1px solid lightgrey;
  border-radius: 21px;
  min-height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  width: fit-content;
}

.message-and-btn {
  height: auto;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  p {
    padding: auto 0;
    margin-right: 12px;
    text-align: left;
    hyphens: auto;
    color: black
  }
}

.message-transfert {
  color: #0e8b8d;
  padding-left: 2px;
  padding-right: 3px;
}

.host-message {
  margin-left: 112px;
  float: right;
  height: auto;
  text-align: right;
  background-color: #e5e5e5;
  opacity: 0.9;
  .message-and-btn {
    flex-direction: row-reverse;
  }
}

.volunteer-message {
  height: auto;
  float: left;
  text-align: left;
  background-color: white;
  .message-and-btn {
    flex-direction: row-reverse;
  }
}

.author {
  .User-name {
  color: black;
  }
  #Date {
  color: lightgrey;
  }
}

.input-host {
  position: fixed;
  margin-bottom: 30px;
  bottom: 41px;
}

.input-host #new_message {
  display: flex;
  justify-content: space-between;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: row-reverse;
  // min-width: 50px;
  // padding-bottom: 30px;
  // #message_content {
  //   width: 80vw;
  // }
}

.input-host #new_message input {
  width: 329px;
  border-radius: 24px;
  padding-left: 15px;
  margin-top: 15px;
}


.paper-plane button {
  background-color: rgba(0, 0, 0, 0)!important;
  background: none!important;
  box-shadow: none!important;
  border: none!important;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: -45px;
}

