.container-all {
  min-height: calc(100vh - 135px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#messages {
  flex-grow: 1;
}

.message-container {
  border: 1px solid lightgrey;
  min-height: 40px;
  padding-top: 6px;
  padding-right: 15px;
  padding-left: 15px;
}

.message-content {
  display: flex;
  height: auto;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  p {
    padding: auto 0;
    flex-basis: 80%;
    text-align: left;
    hyphens: auto;
    color: black
  }
}

.message-transfert {
  color: #0e8b8d;
  padding-left: 2px;
  padding-right: 3px;
}

.host-message {
  height: auto;
  text-align: right;
  // p {
  //   text-align: right;
  // }
}

.volunteer-message {
  height: auto;
  text-align: left;
  .message-content {
    flex-direction: row-reverse;
  }
}

.author {
  color: grey;
}

.input-host {

}
