.navbar {
  background-color: white;
  height:10%;
  justify-content: space-between;
  display: inline;
}

/* Navbar links */
.navbar a {
  text-align: center;
  color: #8E8E8E;
  text-decoration: none;
  font-family: 'Maven Pro',
  sans-serif;
}
.navbar p{
  font-size: 12px;
}
.navbar i{
vertical-align: middle;
  margin: 0 auto;
  font-size: 25px !important;
}

.navbar i:active{
  color: #000;
}
.navbar a:active {
  color: black;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.sign-buttons {
margin: 0 auto;
}
