.retractable-card{
  position: absolute;
  background-color: white;
  z-index: 999;
  bottom: 75px;
  width: 100%;
  right: 0;
  left: 0;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -1px 5px grey;
  height: auto;
}

.up-down-icon i {
  color: black;
  margin-top: 5px;
  font-size: 28px;
}
.text-card{
  vertical-align: middle;
  color: black;
  margin-top: 13px;
  margin-bottom: 10px;
}
.text-card h6,p{
  margin-bottom: 0px!important;
}

.up-down-icon{
  text-align: center;
}

.card-content i{
  color: black;
  font-size: 23px;
}

.text-card{
  text-align: center;
  vertical-align: middle;
}

.slide-arrows{
  color: rgb(27, 27, 27)!important;
}

.main-info-card{
  margin-bottom: 20px;
}

.retrac-card-button{
  width: 328px!important;
}

#publish-info{
  box-shadow: 0 0 0 0!important;
  margin-bottom: 20px;
}

.display-none{
  height: 0;
}
#card-button-display{
  transition-duration: display 12;
}
#searchparty-new{
  position: relative;
}
