.todo-content{
  max-height: 700px;
}

.slide-todo-container{
  overflow: scroll;
  max-width: 500px;
  padding: 30px;
  margin-bottom: 20px;
}
.slide-todo-container p{
  text-align: start !important;
}
.todo-content li{
  display: inline;
}

.swiper-container{
  // max-height: 430px;
  max-width: 100%;
}

.swiper-slide{
  max-height: fit-content;
  width: 90%!important;
  cursor: grab;
  margin-left:20px!important;
  margin-right:20px!important;
}

.swiper-slide p{
  // max-height: 280px;
}

.swiper-wrapper{
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  background-color: white!important;
  opacity: 1!important;
}

.swiper-pagination-bullet-active{
  background-color: #108b8d !important;
}
