.todo-content{
  max-height: 700px;
}

.slide-todo-container{
  overflow: scroll;
  max-width: 500px;
  padding: 30px;
  margin-bottom: 20px;
}
.slide-todo-container p{
  text-align: start !important;
}
.todo-content li{
  display: inline;
}

.swiper-container{
  // max-height: 430px;
  max-width: 100%;
}

.swiper-slide{
  max-height: fit-content;
  width: 75%!important;
  cursor: grab;
}

.swiper-slide-active{
  margin-left:50px!important;
  margin-right: 50px!important;
}

.swiper-slide p{
  // max-height: 280px;
}

.swiper-wrapper{
  margin-bottom: 20px;
}
