.title-container {
  background-color: transparent;
  color: white;
  top: 85px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  // box-shadow: 0 1px 5px grey;
  height: 60px;
  // padding: 0 auto;
  padding-top: 30px;
  margin-bottom: 30px;
}

.title-container h3{
  font-size: 24px;
  margin: 0 auto;
  font-weight: bold;
}
