#searchparty-new {
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

#searchparty-create{
  margin-top: 10%;
}

.form-title{
  padding-top: 10%;
}

#new_search_party{
  margin-top: 10%;
}

.search_parties-index{
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

.searchparties-card-index{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top:10px;
  margin-bottom: 20px;
  padding:10px;
  color: black;
  width: 86%;
}

.title-container{
  background-color: white;
  color: black;
  top: 85px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 5px grey;
  height: 80px;
  padding: 0 auto;
}

.title-container h3{
  font-size: 1.95rem;
  margin:0 auto;
  font-weight: bold;
}
