#searchparty-new {
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

#searchparty-create{
  margin-top: 10%;
}

.form-title{
  padding-top: 10%;
}

#new_search_party{
  margin-top: 10%;
}

.search_parties-index{
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

.searchparties-card-index{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top:10px;
  margin-bottom: 20px;
  padding:10px;
  color: black;
  width: 86%;
}

.title-container{
  background-color: white;
  color: black;
  top: 85px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 5px grey;
  height: 60px;
  padding: 0 auto;
}

.title-container h3{
  font-size: 1.4rem;
  margin:0 auto;
  font-weight: bold;
}
#button-new-searchparty{
  position: fixed;
  right: 10%;
  z-index: 1029;
  bottom:15%;
  padding: 5px;
  font-size: 40px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: 'Maven Pro', sans-serif;
  display: block;
  text-align: center;
  background-color: #108b8d;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  border: 0.5px solid white;
  max-height: 50px;
  width: 50px;
  line-height: 100%;
}

#button-new-searchparty-big {
  margin: 0 auto;
  bottom:15%;
}

#greytitle {
  background-color: #8E8E8E;
}

.textleftcard p{
 text-align: start;
}
