

#searchparty-create{
  margin-top: 10%;
}

.form-title{
  padding-top: 10%;
}

#new_search_party{
  margin-top: 10%;
}


.searchparties-card-index{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top:10px;
  margin-bottom: 20px;
  padding:20px;
  color: black;
  width: 86%;
}

#button-new-searchparty{
  position: fixed;
  right: 10%;
  z-index: 1029;
  bottom:15%;
  padding: 5px;
  font-size: 40px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: 'Barlow', sans-serif;
  display: block;
  text-align: center;
  background-color: #108b8d;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  border: 0.5px solid white;
  max-height: 50px;
  width: 50px;
  line-height: 100%;
}

#button-new-searchparty-big {
  margin: 0 auto;
  bottom:15%;
}

#greytitle {
  background-color: #8E8E8E;
}

.textleftcard p{
 text-align: start;
}

.textleftcard p {
  text-align: start;
  font-size: 16px !important;
}

#date-time-info-card {
  background-color: #F2F2F2;
  padding: 15px;
  border-radius: 10px;
}

#date-time-info-card p {
  text-align: center !important;
  font-weight: bold;
}

.searchparties-card-index p {
  color: black !important;
}

#button-search-party-card {
  margin-top: 50px;
}

.searchparties-card-index-real {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px;
  color: black!important;
  width: 86%;
  height: 500px!important;
}

.searchparties-card-index-real h4{
  font-weight: bold;
}

.searchparties-card-index-real p{
    color: black !important;
}
