
.searchparties-card-show{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top:10px;
  margin-bottom: 20px;
  padding:10px;
  color: black;
  width: 86%;
}

.button {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: 'Barlow', sans-serif;
  display: block;
  text-align: center;
  margin-top: 10px;
}
