#searchparty-show {
  background-image: url('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1582&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

.title-container{
  background-color: white;
  color: black;
  top: 85px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 5px grey;
  height: 60px;
  padding: 0 auto;
}

.searchparties-card-show{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top:10px;
  margin-bottom: 20px;
  padding:10px;
  color: black;
  width: 86%;
}

.button {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: 'Maven Pro', sans-serif;
  display: block;
  text-align: center;
  margin-top: 10px;
  width:358px;
}
